@tailwind base;
@tailwind utilities;
@tailwind components;

@layer components {
  .logo {
    @apply w-24;
  }
  .h1 {
    @apply h-24 text-4xl font-bold;
  }
  .btn {
    @apply px-6 py-2 bg-slate-200 rounded border border-slate-300 hover:bg-slate-300 active:scale-95 hover:shadow;
  }
}
